<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <style>body { font-size: 1.3em; }</style>
    <title>Lunch Check</title>
  </head>
  <body ng-app="LunchCheck">
    <h1>Assignment1</h1>
    <div ng-controller="LunchCheckController">
      <div>
        Enter a comma separated list (empty word ",," are ignored):
        <input type="text" style="border-color:{{textColor}}"
          ng-model="list">
        <div style ="color:{{textColor}}">{{message}}</div>
        <br/>
        <button ng-click="displayMessage()">Check If Too Much</button>
      </div>
    </div>
  </body>
</html>