h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}

.container {
  background: #ccc;
}

.loading-icon {
  position: absolute;
  left: 50%;
  top: 10px;
}


.narrow-button {
  float: left;
  margin-left: 10px;
}

.warning {
  color: red;
  font-weight: bold;
}